<div class='navbar navbar-default' id='navbar'>
  <a class='navbar-brand' href='#'>
    <img src="/images/ns_logo.jpg" class="logozxb">南师附中选修课报名系统 - 管理员面板</a>
  <ul class='nav navbar-nav pull-right'>
    
    <li class='dropdown user'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='#'> 
        <i class='icon-user'></i> 
        <strong>王秀芬</strong> 
        <b class='caret'></b>
      </a>
      <ul class='dropdown-menu'>
        <li>
          <a href="/admin/logout">退出登录</a>
        </li>
      </ul>
    </li>
  </ul>
</div>