<!DOCTYPE html>
<html class='no-js' lang='en'>
<head>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <title>管理员面板 - 南师附中选修课报名系统</title>
  <link href="/css/application-a07755f5.css" rel="stylesheet" type="text/css" />
  <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/iconfont.css" rel="stylesheet" type="text/css"></head>
<body class='main page'>
  <% include ../include/header.ejs %>
  <div id='wrapper'>
    <% include ../include/sidebar.ejs %>
    <section id='tools'>
      <ul class='breadcrumb' id='breadcrumb'>
        <li>
          <a href="/admin/student">学生清单</a>
        </li>
        <li>
          <a href="/admin/student/import">导入学生</a>
        </li>
        <li class="active">
           增加学生 
        </li>
      </ul>
    </section>
    <div id='content'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          增加学生
        </div>
        <div class='panel-body'>
            <div class="row">
                <div class="col-lg-5">
                  <p>
                    学号：
                  </p>
                  <p>
                    <input type="text" class="form-control" id="sidTxt" checkvalid>
                  </p>
                  <p>
                    姓名：
                  </p>
                   <p>
                    <input type="text" class="form-control" id="nameTxt" checkvalid>
                  </p>
                  <p>
                    年级：
                  </p>
                  <p>
                    <select class="form-control" id="gradeSelect" checkvalid>
                      <option value="">请选择</option>
                      <option value="初一">初一</option>
                      <option value="初二">初二</option>
                      <option value="初三">初三</option>
                      <option value="高一">高一</option>
                      <option value="高二">高二</option>
                      <option value="高三">高三</option>
                    </select>
                  </p>
                  <p>
                    初始密码：
                  </p>
                   <p>
                    <input checkvalid type="text" class="form-control" id="passwordTxt" checkvalid>
                  </p>
                  <p>
                    <input type="button" value="提交" id="submitBtn" class="btn btn-success" disabled/>
                  </p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript">
    var invalid = {
        "sid"   : true,
        "name"  : true,
        "grade" : true,
        "password" : true
    };

    $.fn.extend({
        "dangerTip" : function(txt){
            this.after(
                $("<div class='alert myalert alert-danger' role='alert'>" + txt + "</div>")
            );
        },
        "successTip" : function(txt){
            this.after(
                $("<div class='alert myalert alert-success' role='alert'>" + txt + "</div>")
            );
        },
        "clearTip" : function(){
            this.nextAll(".alert").remove();
        }
    });

    // 1.学号验证
    $("#sidTxt").blur(function(){
        var _sid = $(this).val();
        if(!/^[\d]{9}$/.test(_sid)){
            //非法
            invalid.name = true;
            $(this).dangerTip("没有通过正则验证，必须是9位数字！");
            return;
        }

        var $this = $(this);
        $.ajax({
          // ↙ 检查学生接口
          "url" : "/admin/student/" + _sid,
          "type" : "propfind",
          "success" : function(data){
            if(data.result == 0){
              invalid.sid = false;
              $this.successTip("经服务器检查，和现有学号不重复！");
            }else if(data.result > 0){
              invalid.sid = true;
             $this.dangerTip("重复的学号，请重新输入！");
            }else{
              invalid.sid = true;
              $this.dangerTip("服务器错误！");
            }
          }
        });
    });

    $("#nameTxt").blur(function(){
        var nameTxt = $(this).val();
        if(/^[\u4E00-\u9FA5]{2,5}(?:·[\u4E00-\u9FA5]{2,5})*$/.test(nameTxt)){
            invalid.name = false;
            $(this).successTip("合法");
        }else{
            invalid.name = true;
            $(this).dangerTip("没有通过正则验证，必须合法中文！");
        }
    });

    $("#gradeSelect").change(function(){
        var grade = $(this).val();
        if(grade){
            invalid.grade = false;
        }else{
            invalid.grade = true;
        }
    });

    $("#passwordTxt").blur(function(){
        var password = $(this).val();
        if(checkStrength(password) == 3){
            invalid.password = false;
            $(this).successTip("正确");
        }else{
            invalid.password = true;
            $(this).dangerTip("密码必须有小写字母、大写字母、数字、符号中的3种，最少6位");
        }
    });

    function checkStrength(password){
        var lv = 0;
        if(password.match(/[a-z]/g)){lv++;}
        if(password.match(/[A-Z]/g)){lv++;}
        if(password.match(/[0-9]/g)){lv++;}
        if(password.match(/[^A-z0-9]/g)){lv++;}
        if(password.length < 6){lv=0;}
        if(lv > 3){lv=3;}
        return lv;
    }

    $("[checkvalid]").blur(function(){
        var allow = true;
        for(var k in invalid){
            if(invalid[k]){
                allow = false;
                break;
            }
        }
        if(allow){
            $("#submitBtn").attr("disabled",false);
        }else{
             $("#submitBtn").attr("disabled",true);
        }

    });

    $("[checkvalid]").bind("focus",function(){
        $(this).clearTip();
    });


    //提交按钮
    $("#submitBtn").click(function(){
        var sid = $("#sidTxt").val();
        var name = $("#nameTxt").val();
        var grade = $("#gradeSelect").val();
        var password= $("#passwordTxt").val();
        $.post("/admin/student/add",{
            sid : sid,
            name : name,
            grade : grade,
            password : password
        },function(data){
            if(data.result == 1){
                alert("成功添加！");
                $("input[type=text]").val("");
                var invalid = {
                    "sid"   : true,
                    "name"  : true,
                    "grade" : true,
                    "password" : true
                };
            }else if(data.result == -2){
                alert("不知道你怎么躲过了正则验证，但是服务器检测到输入学号不正确");
            }else if(data.result == -3){
                alert("我不知道你怎么躲过了正则验证，但是服务器发现了不合法的姓名！");
            }else if(data.result == -4){
                alert("我不知道你怎么躲过了正则验证，但是没有选择年级！");
            }else if(data.result == -5){
                alert("我不知道你怎么躲过了正则验证，但密码强度不够！");
            }else if(data.result == -6){
                alert("我不知道你怎么躲过了正则验证，但是服务器检测到学号冲突！");
            }
        });
    });
  </script>
</body>
</html>