<!DOCTYPE html>
<html class='no-js' lang='en'>
<head>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <title>管理员面板 - 南师附中选修课报名系统</title>
  <link href="/css/application-a07755f5.css" rel="stylesheet" type="text/css" />
  <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/iconfont.css" rel="stylesheet" type="text/css">
  <link href="/css/tip-yellowsimple.css" rel="stylesheet" type="text/css"></head>
  <link rel="stylesheet" href="/css/ui.jqgrid.css">
  <link rel="stylesheet" href="/css/jquery-ui-1.8.16.custom.css">
</head>
<body class='main page'>
  <% include include/header.ejs %>

  <div id='wrapper'>
    <% include include/sidebar.ejs %>

    <section id='tools'>
      <ul class='breadcrumb' id='breadcrumb'>
        <li>
          <a href="/admin/report">查看学生选课情况</a>
        </li>
        <li class='active'>
          查看课程报名情况
        </li>
      </ul>
    </section>
    <div id='content'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          课程报名情况
        </div>
        <div class='panel-body'>
            <div class="row searchbox">
              <div class="col-lg-5">
                <input type="text" class="form-control" placeholder="快捷查询" autofocus id="keywordtxt">
              </div>
            </div>
            
            <table id="list"></table>
            <div id="listnav"></div>

        </div>
      </div>
      <a id="info_tip" class="info_tip" href="#"></a>
    </div>

  </div>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/grid.locale-cn.js"></script>
  <script type="text/javascript" src="/js/jquery.jqGrid.src.js"></script>
  <script type="text/javascript">
    $("#list").jqGrid({
        datatype: "json",
        url : "/admin/report/course/all",
        colNames:["课程编号","课程名称","授课老师","上课时间","允许年级","可报人数"],
        colModel:[
            {name:'cid'   , index:'cid'    , width:130 , key:true},
            {name:'name'  , index:'name'   , width:180 },
            {name:'teacher'  , index:'teacher'   , width:160 },
            {name:'dayofweek'  , index:'dayofweek'   , width:160 },
            {name:'allow'  , index:'allow'   , width:220 },
            {name:'number' , index:'number'  , width:100 }
        ],
        height:300,
        autowidth:true,
        sortname: 'sid',
        sortorder: 'asc',
        cellsubmit : "clientArray", 
        viewrecords: true,
        pager : '#listnav',
        rowNum:10,
        rowList:[10,20,50,400]
    });

    $("#keywordtxt").bind("input", function(){
      var keyword = $(this).val();
      $("#list").jqGrid("clearGridData").jqGrid('setGridParam',{  
        datatype:'json',  
        postData:{"keyword" : keyword}, 
        page:1  
      }).trigger("reloadGrid"); 

    });

  </script>
</body>
</html>