<!DOCTYPE html>
<html class='no-js' lang='en'>
<head>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <title>管理员面板 - 南师附中选修课报名系统</title>
  <link href="/css/application-a07755f5.css" rel="stylesheet" type="text/css" />
  <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/iconfont.css" rel="stylesheet" type="text/css"></head>
  <link href="/css/tip-yellowsimple.css" rel="stylesheet" type="text/css"></head>
  <link rel="stylesheet" href="/css/ui.jqgrid.css">
  <link rel="stylesheet" href="/css/jquery-ui-1.8.16.custom.css">
<body class='main page'>

  <% include include/header.ejs %>

  <div id='wrapper'>
    <% include include/sidebar.ejs %>

    <section id='tools'>
      <ul class='breadcrumb' id='breadcrumb'>
        <li class='active'>
          学生清单
        </li>
        <li>
          <a href="/admin/student/import">导入学生</a>
        </li>
        <li>
          <a href="/admin/student/add">增加学生</a>
        </li>
      </ul>
    </section>
    <div id='content'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          全部学生清单
        </div>
        <div class='panel-body'>
            <div class="row searchbox">
              <div class="col-lg-5">
                <input type="text" class="form-control" placeholder="快捷查询" autofocus id="keywordtxt">
              </div>
              <div class="col-lg-7 text-right">
               <a class="btn btn-success"  href="/admin/student/download" >下载EXCEL全表</a>
              </div>
            </div>
            
            <table id="list"></table>
            <div id="listnav"></div>

            <input type="button" class="btn btn-danger" value="删除" id="delBtn">
        </div>
      </div>
      <a id="info_tip" class="info_tip" href="#"></a>
    </div>
  </div>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/grid.locale-cn.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/jquery.jqGrid.src.js"></script>
  <script type="text/javascript" src="/js/jquery.poshytip.js"></script>
  <script type="text/javascript">
        $("#list").jqGrid({
            datatype: "json",
            url : "/admin/student/all",
            colNames:["学号","姓名","年级","初始密码"],
            colModel:[
                {name:'sid'   , index:'sid'    , width:50 , key:true},
                {name:'name'  , index:'name'   , width:50 , editable:true},
                {
                    name:'grade'   ,
                    index:'grade'  , 
                    width:50      , 
                    editable : true,
                    edittype : "select",
                    editoptions : {
                      value : "初一:初一;初二:初二;初三:初三;高一:高一;高二:高二;高三:高三"
                    }
                } ,
                {name:'password'  , index:'password'   , width:50 , editable : true}
            ],
            height:300,
            autowidth:true,
            sortname: 'sid',
            sortorder: 'asc',
            multiselect : true,
            cellEdit : true,
            cellsubmit : "clientArray", 
            viewrecords: true,
            pager : '#listnav',
            rowNum:10,
            rowList:[10,20,50,400],
            afterSaveCell : function(rowid, cellname, value, iRow, iCol){
                $.post("/admin/student/" + rowid , {
                    "cellname" : cellname,
                    "value" : value
                },function(data){
                    if(data.result == 1){
                        showTip("更改成功");
                    }else if(data.result == -1){
                        showTip("你试图更改" + rowid + "，而数据库中没有这个条目。很有可能是其他老师在同时操作，请刷新页面！");
                    }else if(data.result == -2){
                        showTip("服务器错误，请联系管理员，错误代码-2。");
                    }
                });
            }
        });

        function showTip(content){
            $('#info_tip').poshytip({
                className: 'tip-yellowsimple',
                content: content,
                showOn: 'none',
                alignTo: 'target',
                alignX: 'inner-left',
                offsetX: 0,
                offsetY: 5
            });
            $('#info_tip').poshytip("show").poshytip('hideDelayed', 800);
        }  

        $("#keywordtxt").bind("input", function(){
          var keyword = $(this).val();
          $("#list").jqGrid("clearGridData").jqGrid('setGridParam',{  
            datatype:'json',  
            postData:{"keyword" : keyword}, 
            page:1  
          }).trigger("reloadGrid"); 
        });


        $("#delBtn").click(function(){
          var arr = $("#list").jqGrid('getGridParam', 'selarrrow')
          if(!confirm("真的要删除么？")){
            return;
          }
          $.ajax({
            "url" : "/admin/student/selected",
            "type" : "delete",
            "dataType": "json", 
            "traditional" : true,
            "data" : {"arr" : arr},
            "success" : function(data){
              $("#list").trigger("reloadGrid");
              if(data.result == -1){
                alert("删除失败！");
              }else{
                alert("成功删除了" + data.result + "条数据");
              }
            }
          })
          
        });
  </script>
</body>
</html>